.smallButton {
  border: none;
  letter-spacing: 3px;
  padding: 6px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.mediumButton {
  border: none;
  letter-spacing: 3px;
  padding: 9px 23px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.largeButton {
  border: none;
  letter-spacing: 3px;
  padding: 12px 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.buttonText {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
}