.intro {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url('../../assets/imgs/bg-woman-3.jpg');
}

.titleBox {
  margin-top: 150px;
}

.title {
  font-size: 3.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  max-width: 550px;
}

.subtitle {
  display: block;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  max-width: 500px;
}

@media (max-width: 768px) {
  .intro {
    height: 450px;
  }

  .titleBox {
    margin-top: 50px;
  }

  .title {
    font-size: 2.5rem;
  }
}

.simulation {
  background-color: #F5F5F5;
  padding: 30px 50px;
  border: none;
  border-radius: 20px;
  align-self: flex-start;
  position: absolute;
  left: 0;
  bottom: -290px;
  box-shadow: 0px 7px 20px -6px rgba(0,0,0,0.61);
}

@media (max-width: 768px) {
  .simulation {
    left: 0;
    right: 0;
  }
}

.simulationTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 10px;
}

.simulationSubtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
}

.simulationInputBox {
  display: flex;
}

.simulationInput {
  width: 100%;
  padding: 10px 0 10px 20px;
  border: 1px solid black;
  border-right: none;
  border-radius: 10px 0 0 10px;
}

.simulationInput::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.simulationInput::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

.simulationInput:focus {
  outline: 0;
}

.simulationInputButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  white-space: nowrap;
  padding: 5px 40px;
  border: none;
  border-radius: 0 10px 10px 0;
  height: 100%;
}

@media (max-width: 500px) {
  .simulation {
    padding: 20px 20px;
  }

  .simulationTitle {
    font-size: 1.3rem;
  }

  .simulationSubtitle {
    font-size: 1.2rem;
  }

  .simulationInputBox {
    display: block;
  }

  .simulationInput {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
  }

  .simulationInputButton {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
  }
}

.illustration {
  margin-top: 400px;
  position: relative;
  gap: 10px;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 768px) {
  .illustration {
    margin-top: 350px;
  }
}

.illustrationBox {
  border: 1px solid black;
  margin: 0 !important;
  padding: 10px 30px;
  border-radius: 15px;
}

.illustrationItem {
  display: flex;
  align-items: center;
}

.illustrationText {
  margin-right: 40px;
}

.illustrationSpanTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
}

.illustrationSpanSubtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  display: block;
}

.iconBox {
  max-width: 200px;
}

@media (max-width: 500px) {
  .illustrationBox {
    padding: 10px 15px;
  }

  .illustrationItem {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .iconBox {
    max-width: 100px;
  }

  .illustrationText {
    margin: 0;
  }

  .illustrationSpanTitle {
    text-align: center;
  }

  .illustrationSpanSubtitle {
    text-align: center;
  }
}

.advantages {
  margin-top: 450px;
  padding: 60px 0;
  background-color: #F9F9F9;
}

@media (max-width: 768px) {
  .advantages {
    margin-top: 600px;
  }
}

@media (max-width: 410px) {
  .advantages {
    margin-top: 550px;
  }
}

@media (max-width: 373px) {
  .advantages {
    margin-top: 700px;
  }
}

.advantagesTitle {
  font-family: 'Montserrat', sans-serif;
}

.advantagesTitleSpan {
  font-weight: bold;
}

.advantagesText {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

.advantageIconBox {
  background-color: white;
  border-radius: 10px;
}

.advantageIconSpan {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 8px;
  color: var(--primary-color);
}

.advantageIconParagraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: 3px;
  text-align: center;
}

.requirements {
  padding: 60px 0;
  background-color: #F9F9F9;
  background-image: url('../../assets/imgs//bg-woman-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.requirementsBox {
  display: flex;
  justify-content: flex-end;
}

.requirementsTitle {
  font-family: 'Montserrat', sans-serif;
}

.requirementsTitleSpan {
  font-weight: bold;
}

.requirementRow {
  max-width: 700px;
  margin-bottom: 20px;
}

@media (max-width: 1550px) {
  .requirements {
    background: none;
  }

  .requirementsBox {
    justify-content: center;
  }
}

.requirementItem {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.requirementNumber {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4.5rem;
  color: var(--primary-color);
  margin-right: 20px;
}

.requirementParagraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@media (max-width: 768px) {
  .requirementRow {
    flex-direction: column;
    margin-bottom: 0;
  }

  .requirementNumber {
    font-size: 3rem;
    display: block;
  }
}

.beneficts {
  margin-top: 50px;
  background-color: #F9F9F9;
  padding: 60px 0;
}

.bgManBox {
  max-width: 400px;
}

.benefictsTitle {
  font-family: 'Montserrat', sans-serif;
}

.benefictsTitleSpan {
  font-weight: bold;
}

@media (max-width: 768px) {
  .benefictsTitle {
    margin-top: 60px;
  }
}

.benefictsIconBox {
  width: 40px;
  margin-right: 15px;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px;
}

.benefictsList {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .benefictsButtonBox {
    display: flex;
    justify-content: center;
  }
}

.faq {
  background-color: #1B76AC;
  padding: 60px 0;
}

.faqTitle {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: white;
}

.faqSubtitle {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.accordionHeader button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.accordionText {
  font-family: 'Montserrat', sans-serif;
}

.testimonials {
  padding: 60px 0;
  background-color: #F9F9F9;
}

.testimonialsTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
}

@media (max-width: 768px) {
  .testimonialsTitle {
    text-align: center;
    font-size: 1.8rem;
  }
}

.testimonialsTitleSpan {
  font-weight: bold;
}

.carouselItem {
  background-color: #F9F9F9;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55);
}

.carouselParagraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-style: italic;
}

.carouselName {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.carouselRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 370px) {
  .carouselRate {
    display: block !important;
    margin-top: 15px;
  }
}

.carouselDate {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.carouselCustomClass {
  background-color: #F9F9F9;
  border-radius: 20px;
}

.contact {
  padding: 60px 0;
  background-color: #F9F9F9;
}

.contactTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.contactSpan {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .socialMediaBox {
    margin-top: 20px;
  }
}

.socialMediaIconBox {
  padding: 5px;
  background-color: #8a8a8a;
  border-radius: 5px;
}

.separatorBox {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.separator {
  height: 1px;
  background-color: #8a8a8a;
  width: 70%;
}

.termsText {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
  color: #818181;
}

.lastAd {
  align-items: center;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .lastAd {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lastAdImg {
    display: flex;
    justify-content: center;
  }

  .lastAdText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.termsAdvertimentText {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
  font-weight: 500;
  color: #2c2c2c;
}

.lastRowimgManBox {
  max-width: 350px;
}

.lastRowTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  display: block;
  margin-bottom: 15px;
}

.lastRowParagraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.whatsappIcon {
  position: fixed;
  z-index: 99999999;
  bottom: 40px;
  right: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.45);
}