@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

:root {
  --primary-color: #007dd1;
}

.App {
  position: relative;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}